@import "~language-badge";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // http://getskeleton.com/
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[data-content="sub"] {
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 640px) {
    max-width: 90%;
  }

  @media (min-width: 960px) {
    max-width: 80%;
  }

  .card {
    width: 100%;
  }

  .items {
    width: 100%;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  
    .item {
      flex: 0 1 100%;
      min-width: 100%;

      @media (min-width: 640px) {
        flex: 0 1 100%;
        min-width: 100%;
      }
    
      @media (min-width: 840px) {
        flex: 0 1 50%;
        min-width: 50%;
      }
    
      @media (min-width: 1420px) {
        flex: 0 1 33%;
        min-width: 33%;
      }
    }
  }
}